<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.min.js -->
    <script src="/static/echarts.min.js"></script>
</head>

<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1200px;height:800px;"></div>



</body>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var data = {{ data| safe }};

    option = {
        dataset: {
            dimensions: ['地点', '经度', '纬度', '年份', '频次(d)'],
            source: data,
        },
        tooltip: {
            trigger: 'axis',
            showContent: true
        },
        xAxis: {
            type: 'category',
            data: data[0],
            splitLine: {
                show: true
            }
        },
        yAxis: {
            type: 'value',
            // min: 'dataMin',
            // max: 'dataMax',
            splitLine: {
                show: true
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                xAxisIndex: [0],
                start: 30,
                end: 35
            },
            {
                type: 'inside',
                xAxisIndex: [0],
                start: 30,
                end: 35
            },
        ],
        series: [{
            data: data[1],
            type: 'line'
        }]
    };
    myChart.setOption(option);
    myChart.on('click', function (params) {
        console.log(params);
    });
</script>

</html>